<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="text-center my-3">
        <h3>
          😁
          <%= @location %>
        </h3>
        <%= image_tag @img, style: 'height:300px;width:480px;'%>
      </div>
    </div>
  </div>
</div>
