<div class="container">
  <h1>당신에게 딱 맞는 여름 휴가 여행지</h1>
  <div class="row">
    <div class="col-6">
      <form action="/randomresult">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="이름을 입력해주세요">
        </div>
        <button type="submit" class="btn btn-primary">보러가기</button>
      </form>
    </div>
  </div>
</div>
